# Use Insurance Code Template Notebook template

### Packages needed to run this notebook if running with inbuilt snowpark 3.8 template
##### !pip install --q "snowflake-connector-python[pandas]"
##### !sudo pip install --q  snowflake-ml-python==1.0.11 -U
##### !pip install --upgrade --q snowflake-snowpark-python==1.9.0
##### !pip install --upgrade --q numpy==1.24.3
##### !pip install --upgrade --q pandas==1.5.3
##### !pip install fosforio

In [2]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

# How to use Notebook Variables declared in customized template

In [2]:
import os
print (os.getenv('notebook_environment'))

PrPr

In [3]:
print (os.getenv('notebook_template'))

insurance_claims

# How to use Project Parameters declared under Notebooks section

In [4]:
print (os.getenv('Snowflake_Account'))

ug94937.us-east4.gcp

In [7]:
print (os.getenv('Snowflake_user'))

MANISH

# Different ways to achieve Snowflake Connection

## 1. Code to establish connection using Config Parser and .ini file

In [8]:
config = configparser.ConfigParser()
config.read("/config/snowflake_connection.ini")

['snowflake_connection.ini']

In [9]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [10]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [11]:
df = session.table("AUTO_INSURANCE_CLAIMS_DATA_PRODUCT")

In [14]:
df = df.to_pandas()

In [15]:
df.head()

,MONTHS_AS_CUSTOMER,CUSTOMER_AGE,POLICY_NUMBER,POLICY_BIND_DATE,POLICY_STATE,POLICY_CSL,POLICY_DEDUCTABLE,POLICY_ANNUAL_PREMIUM,UMBRELLA_LIMIT,INSURED_ZIP,...,WITNESSES,POLICE_REPORT_AVAILABLE,TOTAL_CLAIM_AMOUNT_PAID,INJURY_CLAIM,PROPERTY_CLAIM,VEHICLE_CLAIM,AUTO_MAKE,AUTO_MODEL,AUTO_YEAR,FRAUD_REPORTED
0,29,27,472151,18-01-2001,CT,500/1000,1509,2067,2857642,449557,...,1,Unknown,46044.0,7135.0,970.0,37939.0,Nissan,Maxima,1995,No Fraud Reported
1,216,69,471007,06-07-1994,CT,100/300,1004,1413,7240818,616583,...,1,Unknown,53886.0,4850.0,13105.0,35931.0,Nissan,Maxima,2002,No Fraud Reported
2,117,35,480178,31-07-1996,CT,250/500,1003,1222,5148266,607452,...,2,Police Report Available,68880.0,2209.0,1015.0,65656.0,Volkswagen,Jetta,1997,Fraud Reported
3,206,39,468335,05-12-2004,CT,100/300,2053,2332,7147877,613114,...,2,Police Report Available,75099.0,598.0,2868.0,71633.0,Chevrolet,Silverado,2008,No Fraud Reported
4,160,68,460308,01-05-1994,CT,250/500,1586,2033,4231365,441716,...,3,Police Report Available,29555.0,586.0,8219.0,20750.0,Chevrolet,Silverado,2001,No Fraud Reported

In [16]:
df.shape

(234265, 40)

# 2 Using Inbuilt FosforIO package

In [18]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [19]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

# To get snowflake connection object with a specific connection name
#snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_Insurance_Snowflake'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

In [21]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("ILF_STG_HARMONIZE_AI_CLAIMS")

In [22]:
df.head()

,CREATED_BY,PROPERTY_CLAIM,VEHICLE_CLAIM,TOTAL_CLAIM_AMOUNT_PAID,INCIDENT_ID,CLAIM_ID,INJURY_CLAIM,POLICY_ID,CREATED_AT,FRAUD_REPORTED,...,AUTO_MODEL,AUTO_MFG_YEAR,Found,CUSTOMER_MASTER_SEX,CUSTOMER_MASTER_OCCUPATION,CUSTOMER_MASTER_AGE,CUSTOMER_MASTER_EDUCATION_LEVEL,CUSTOMER_MASTER_REGISTRATION_DATE,CUSTOMER_MASTER_HOBBIES,CUSTOMER_MASTER_ZIP_CODE
0,FDC_User,21189,35217,66003,95dc6106-df0d-4fd4-8b95-7ad79be7d21d,20dfaca1-f7fa-48df-8df3-12e13b0471d8,9597,c9caf65c-1df5-48f9-865e-b02d47301db9,2024-05-20 22:32:16.652,No Fraud Reported,...,Ultima,2014,Y,FEMALE,other-service,38,Masters,2010-10-12,dancing,461275
1,FDC_User,21189,35217,66003,95dc6106-df0d-4fd4-8b95-7ad79be7d21d,597PNC20dfaca1-f7fa-48df-8df3-12e13b,9597,c9caf65c-1df5-48f9-865e-b02d47301db9,2024-05-20 22:32:16.652,No Fraud Reported,...,Ultima,2014,Y,FEMALE,other-service,38,Masters,2010-10-12,dancing,461275
2,FDC_User,21189,35217,66003,95dc6106-df0d-4fd4-8b95-7ad79be7d21d,293PNC20dfaca1-f7fa-48df-8df3-12e13b,9597,c9caf65c-1df5-48f9-865e-b02d47301db9,2024-05-20 22:32:16.652,No Fraud Reported,...,Ultima,2014,Y,FEMALE,other-service,38,Masters,2010-10-12,dancing,461275
3,FDC_User,21189,35217,66003,95dc6106-df0d-4fd4-8b95-7ad79be7d21d,PNC20dfaca1-f7fa-48df-8df3-12e13b047,9597,c9caf65c-1df5-48f9-865e-b02d47301db9,2024-05-20 22:32:16.652,No Fraud Reported,...,Ultima,2014,Y,FEMALE,other-service,38,Masters,2010-10-12,dancing,461275
4,FDC_User,791,71720,94233,731ee899-ee0d-4a77-901f-6703fd530c22,bba38dd3-0d3c-42a1-bfe3-b8e79f720e27,21722,f0ff57dc-a8ba-4f45-b484-21138630fd61,2024-05-20 22:32:16.652,No Fraud Reported,...,Silverado,2013,Y,FEMALE,machine-op-inspct,20,Associate,2020-08-12,base-jumping,431937

# 3 Using Snowflake Snowpark

In [23]:
#Import all snowflake connection details from Template or Project variables.

db_user = os.getenv('Snowflake_user')
db_password =  os.getenv('Snowflake_password')
db_account = os.getenv('Snowflake_Account')
db_database =  os.getenv('Snowflake_Database')
db_role = os.getenv('Snowflake_user')
db_warehouse = os.getenv('Snowflake_Warehouse')
db_schema = os.getenv('Snowflake_Schema')

In [24]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session = Session.builder.configs(connection_params).create()

In [25]:
session.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session.sql('use database FDC_Insurance;').collect()
session.sql('use schema FDC_Insurance.PUBLIC;').collect()

df_customer = session.table('FDC_Insurance.PUBLIC.CUSTOMER_MASTER').to_pandas()

In [26]:
df_customer.head()

,CREATED_BY,SEX,AGE,CUSTOMER_ID,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,CREATED_AT,HOBBIES,ZIP_CODE
0,FDC_User,FEMALE,66,afb9970e-8f33-4daf-839f-51c846d8d9d2,craft-repair,High School,2020-07-12,2024-05-20 22:33:50.289,golf,468104
1,FDC_User,FEMALE,46,c3018b4e-d38e-420a-a214-5399fa420980,prof-specialty,College,1999-05-12,2024-05-20 22:33:50.289,kayaking,447979
2,FDC_User,FEMALE,22,cf901c46-ac4d-48d2-9bc5-edc63006d52a,protective-serv,Masters,2022-02-12,2024-05-20 22:33:50.289,sleeping,437580
3,FDC_User,MALE,67,e541e439-5693-48a7-80e9-e67eb13d19f1,handlers-cleaners,College,2007-08-12,2024-05-20 22:33:50.289,board-games,466238
4,FDC_User,FEMALE,30,abf3c664-bb80-4bb9-983d-6d8ba461ab74,machine-op-inspct,Masters,2013-01-12,2024-05-20 22:33:50.289,exercise,606487